{% extends "ReaderAdminBundle::layout.html.twig" %}

{% block header %}
    {% set active = 'site' %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span12">
                {% include "ReaderAdminBundle:Widget:categoryUpdate.html.twig" with {'table': false} %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts "bundles/readeradmin/js/shortcut.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            {% include "ReaderAdminBundle:Javascript:save.js.twig" %}
        });
    </script>
{% endblock %}