<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Reader 2.0{%  endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Styles -->
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        {% stylesheets
        "bundles/readerfront/css/styles.less" filter="less,cssrewrite,uglifycss" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>

<body>
    {% include 'ReaderFrontBundle::header.html.twig' %}
    {% block content %}{% endblock %}
    <!-- Javascripts -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript">
        var showLoginForm = function( event ) {
            event.preventDefault();
            $('#loginForm').toggleClass('hidden');
        }
        $(document).ready(function() {

            $('body').on( 'click', '.login', showLoginForm );
        });
    </script>
</body>
</html>
