{% extends "ReaderAdminBundle:Widget:layout.html.twig" %}

{% block widgetHeader %}
    <i class="icon-pencil"></i><h3>Update "{{ category.name }}" category</h3>
{% endblock %}

{% block widgetContent %}
    {% include "ReaderAdminBundle:Form:category.html.twig" with { "submitButton": "Update" } %}
{% endblock %}