<div class="widget stacked widget-table action-table">
    <div class="widget-header">
        {% block widgetHeader %}{% endblock %}
    </div>
    <div class="widget-content">
        {% block widgetContent %}{% endblock %}
    </div>
</div>