{% extends "ReaderAdminBundle:Widget:layout.html.twig" %}

{% block widgetHeader %}
    <i class="icon-pencil"></i><h3>Update "{{ site.title }}" site</h3>
{% endblock %}

{% block widgetContent %}
    {% include "ReaderAdminBundle:Form:site.html.twig" with { "submitButton": "Update" } %}
{% endblock %}