{% extends "ReaderAdminBundle:Widget:layout.html.twig" %}

{% block widgetHeader %}
    <div class="widget-actions">
        <a class="action" data-placement="top" data-toggle="tooltip" href="{{ path('reader_admin_user_add') }}" title="Add user"><i class="icon-plus icon-white"></i></a>
    </div>
    <h3>Users list <small id="usersCount">({{ usersCount }})</small></h3>
{% endblock %}

{% block widgetContent %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Email</th>
            <th>Roles</th>
            <th>Inscription</th>
            <th style="width: 70px;"></th>
        </tr>
        </thead>
        <tbody id="usersList">
        </tbody>
    </table>
    <div class="usersPagination"></div>
{% endblock %}