{% extends "ReaderAdminBundle::layout.html.twig" %}

{% block header %}
    {% set active = 'dashboard' %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Welcome to the Reader admin</h1>
    </div>
{% endblock %}