parameters:
    locale:            en
    secret:            ReaderAdminAndAPI

    public_host:       reader.loc

    node_bin:          /usr/bin/nodejs
    node_modules:      [/usr/local/lib/node_modules]
    uglifyjs2_bin:     /usr/local/bin/uglifyjs
    uglifycss_bin:     /usr/local/bin/uglifycss

    memcached.servers:
        - { host: 127.0.0.1, port: 11211 }

    session_memcached_prefix: readerSess
    session_memcached_expire: 3600

    mongodb_server:   'mongodb://localhost:27017'
    mongodb_database: jba_reader

    reader_proxy: false