{% extends "ReaderAdminBundle::layout.html.twig" %}

{% block headTitle %}Site dashboard / {{ parent() }}{% endblock %}
{% block title %}Site dashboard / {{ parent() }}{% endblock %}

{% block header %}
    {% set active = 'site' %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span12"><h2>Sites management</h2></div>
        </div>
        <div class="row">
            <div class="span6">
                {% include "ReaderAdminBundle:Widget:siteList.html.twig" %}
            </div>
            <div class="span6">
                {% include "ReaderAdminBundle:Widget:categoryList.html.twig" %}
            </div>
        </div>
        <div class="row">
            <div class="span12"><h2>Overview</h2></div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
        });
    </script>
{% endblock %}