{% extends "ReaderAdminBundle::layout.html.twig" %}

{% block headTitle %}Site dashboard / {{ parent() }}{% endblock %}
{% block title %}Site dashboard / {{ parent() }}{% endblock %}

{% block header %}
    {% set active = 'site' %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span12"><h2>Sites management</h2></div>
        </div>
        <div class="row">
            <div class="span6">
                {% include "ReaderAdminBundle:Widget:siteList.html.twig" with {'table': true} %}
            </div>
            <div class="span6">
                {% include "ReaderAdminBundle:Widget:categoryList.html.twig" with {'table': true} %}
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <h2>Overview</h2>
            </div>
        </div>
        <div class="row">
            {% for site in sites %}
                {% if loop.index0%2 == 0 %}</div><div class="row">{% endif %}
                <div class="span6">
                    {% include "ReaderAdminBundle:Widget:siteStoriesOverview.html.twig" with {'table': false} %}
                </div>
            {% endfor %}
            <div id="imageModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="myModalLabel">Story preview</h3>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            var limit = 3;
            var stories = $('.stories');
            stories.each( function() {
                getStories( 1, 1, $(this).attr('data-site') );
            });

            $('.stories').on( 'click', '.imageModal', function(e) {
                var modal = $('#imageModal');
                var $t = $(this);
                modal.find('.modal-body').html( $t.html() + $( '#' + $t.attr('data-content')).html() );
            });

            stories.on( 'click', '.delete-story', function(e) {
                e.preventDefault();
                var $t = $( this );
                $t.addClass('disabled');
                $.ajax({
                    url: '/admin/story/delete/' + $t.attr('data-target'),
                    success: function(data) {
                        if ( data.success != false )
                        {
                            $t.parent('.story').slideUp('200', function(){
                                getStories( 1, 1, $t.attr('data-site') );
                            })
                        }
                    }
                });
            });

            function getStories( page, returnCount, siteId ) {
                $.ajax({
                    url: '/admin/site/stories/' + siteId + '/' + page + '/' + returnCount + '/' + limit,
                    success: function(data) {
                        if ( data.success != false )
                        {
                            $('#stories' + siteId).html( data.content );
                            if ( data.count )
                            {
                                $('#storiesCount' + siteId).html('('+ data.count +')');
                            }
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}