/* GENERAL */
body {
    background: url("../images/bg/body.png") repeat top left;
    padding-top: 60px;
    padding-bottom: 40px;
}
.light {
    background-color: #eee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.padded {
    padding: 20px;
}
.paddedTop {
    padding-top: 20px;
}
.paddedBottom {
    padding-bottom: 20px;
}
.table form {
    padding: 0;
    margin: 0;
}

/* SITE PAGE */
#stories {
    .story {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #DDD;
        background-color: #fff;
        margin: 10px 0;
        padding: 10px;
        .decoration {
            color: #c67605;
        }
        &.disabled {
            background-color: #EEE;
            color: #ccc;
        }
    }
}
.btn-stories {
    margin-top: 15px;
    margin-left: 15px;
}
#grabbingReport {
    margin: 15px;
}