/* GENERAL */
body {
    background: url("../images/bg/body.png") repeat top left;
}
.container,
.container-fluid {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    &.light {
        background-color: #eee;
    }
}